.fly-container {
    height: 480px;
    width: 100%;
    max-width: 1440px;
    max-height: 480px;
    background-image: linear-gradient(84.44deg, rgba(107, 108, 179, 0.55) 22.48%, rgba(46, 46, 77, 0.35) 97.75%), 
                      url('../assets/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    margin: auto;
}
.mySwiper .swiper-pagination-bullet {
    
    width: 10px;
    height: 10px;
    border: 2px solid white;
    opacity: 1;
    background-color: transparent;
  }
  
  .mySwiper .swiper-pagination-bullet-active {
    background-color: white;
    border: none;
  }
  
  .mySwiper .swiper-pagination {
    display: flex;
    justify-content: flex-start; /* Align pagination to the start */
    padding-left: 16px; /* Adjust the padding as needed */
    padding-top: 20px;
  }
  
